*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
		
}





body{
		
	display:grid;
	place-items:center;
	height: 100vh;

}

section{
			overflow: hidden;
		    width: 300px;
			margin:40px 0;
			border-radius: 10px;
			height: fit-content;
		  
					 
}

.sedans{
	    	 
		  	background: hsl(31,77%,52%); 
			height: 400px;
 	
}

.second{
				margin-left:40px;
				color: hsla(0,0%,100%,0.75);
}

.suvs{
			background: hsl(184,100%,22%);
			height: 400px;
		  
}

.luxury{
			background: hsl(179,100%,13%);
			height: 400px;
  	 

}

img{
			margin-top: 35px;
}

h1{
			margin-top: 35px ;	
			font-family: 'Big Shoulders Display', cursive;
}

.paragraph{
			margin-top:35px;
			font-weight: 400;	
			font-family: 'Lexend Deca', sans-serif;
}

.a1{
  	text-decoration:none;
	color: hsl(31,77%,52%);
    background: hsla(0,0%,95%);
	border-radius: 30px;
    margin-top: 30px;
	display: flex;
	padding: 10px;
	width: 125px;
	font-family: 'Lexend Deca', sans-serif;
	padding-left: 20px;
	
}
	


.a2{
	text-decoration:none;
	color: hsl(184,100%,22%);
	border:1px solid hsla(0,0%,95%);
	background: hsla(0,0%,95%);
	border-radius: 30px;
	margin-top: 30px;
	display: flex;
	padding: 10px;
	width: 125px;
	font-family: 'Lexend Deca', sans-serif;
	padding-left: 20px;

}

.a3{
	text-decoration:none;
	color: hsl(179,100%,13%);
	border:1px solid hsla(0,0%,95%);
	background: hsla(0,0%,95%);
	border-radius: 30px;
	margin-top: 30px;
	display: flex;
	padding: 10px;
	width: 125px;
	font-family: 'Lexend Deca', sans-serif;
	padding-left: 20px;

  	
}

.a1:hover{

	background-color:  hsl(31,77%,52%);
	color: white;
}

.a2:hover{

	background-color:  hsl(184,100%,22%);
	color: white;
}

.a3:hover{

	background-color:  hsl(179,100%,13%);
	color: white;
}


p{
	line-height: 23px;
}

@media screen and (min-width:1440px) {
	
	body{
		width: 1440px;

	}

	section{

		width: 910px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		overflow: hidden;
		
	}

	.sedans{
		padding: 15px;
		height: fit-content;
	}

	.suvs{
		
		padding: 15px;
		height: fit-content;
	}

	.luxury{
		padding: 15px;
		height: fit-content;
	}

	a {
		margin: 40px 0;
	}
}